$charcoal: #bbb;
$purple: #c659f7;
$gray: #dfdfdf;
$dark-purple: #6b1b69;
$gold: #B6882A;
$black: #000;

.main-header {
  align-items: center;
  background-color: $gray;
  display: flex;
  height: 80px;
  padding: 0 20px;

  a,
  span {
    font-size: 1.2em;
    margin: 0 15px;
  }

  a {
    color: $gold;
  }

  span {
    color: $black;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.title,
p {
  margin-top: 3%;
  text-align: center;
}

.title {
  font-family: 'Quicksand', sans-serif;
}

p {
  font-size: 18px;
}

.logo {
  height: auto;
  width: 50px;
}

.welcome {
  margin-top: 3%;
  height: auto;
  width: 300px;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: .7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
  .title,
  p {
    margin-top: 5%;
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
  .title,
  p {
    margin-top: 7%;
  }
}
