$charcoal: #bbb;
$purple: #c659f7;
$gray: #dfdfdf;
$dark-purple: #6b1b69;

.main-header {
  align-items: center;
  background-color: $gray;
  display: flex;
  height: 90px;
  padding: 0 20px;

  a,
  span {
    color: $purple;
    font-size: 1.2em;
    margin: 0 15px;
  }
}

.main-header > nav {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.title,
p {
  font-family: monospace;
  margin-top: 20px;
  text-align: center;
}

p {
  font-size: 16px;
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: 0.7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
