@import url('https://fonts.googleapis.com/css?family=Quicksand');

$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$gray: #f3f3f3;
$gold: #B6882A;

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.alert {
  text-align: center;
}

.auth-form {
  background-color: $gray;
  border: 3px solid $gold;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5% auto;
  max-width: 600px;
  padding: 5%;

  h3,
  p,
  input {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 5%;
  }

  button {
    align-self: flex-end;
    max-width: 200px;
  }
}
